@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap");
@import url(./burger.css);

#root {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: Instrument Sans;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-size: inherit;
  font-weight: inherit;
}

a:visited {
  color: inherit;
}

.swiper-slide {
  border-radius: 16px;
  overflow: hidden;
}

.swiper {
  margin-top: 80px;
}

.swiper-pagination-bullet {
  height: 4px;
  width: 32px;
  margin-right: 4px;
  border-radius: 3px;
  content: " ";
  background: rgba(255, 255, 255, 1);
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.thumbsSlider {
  margin-bottom: 30px;
}

.thumbsSlider .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  transition: 0.5s ease-in-out;
}

.thumbsSlider .swiper-slide:hover {
  opacity: 0.8;
  cursor: pointer;
}

.thumbsSlider .swiper-slide-thumb-active {
  opacity: 1;
}

.styled-label {
  transform: translateX(200px);
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.styled-label-active {
  transform: translateX(0px);
  opacity: 1;
}

.loan-preview {
  display: flex;
  align-items: center;
  justify-content: initial;
  width: 100%;
}

.loan-status {
  width: 100%;
}

.green-background {
  width: 50%;
  height: 500px;
  /* max-height: 1200px; */
  position: absolute;
  top: -15%;
  right: 0;
  z-index: -1;
}

.green-background img {
  width: 100%;
  object-fit: cover;
}

.loan-status {
  border-top: 1px solid white;
  margin: 10px 0;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.burger-container {
  display: none;
}

@media screen and (max-width: 1368px) {
  .green-background {
    width: 55%;
    height: 500px;
    top: 0;
    right: 0;
  }

  .swiper {
    box-sizing: border-box;
  }

  .swiper-slider-thumb {
    width: 100%;
  }

  .swiper-slider-thumb > * {
    object-fit: cover;
    width: 100%;
  }

  .styled-loan-box {
    border: rgba(21, 26, 37, 0.1) solid 1px !important;
  }

  .special-background {
    background: linear-gradient(
      rgba(44, 168, 44, 0.705) 52.94%,
      rgba(114, 233, 120, 0.747) 100%
    ) !important;
  }

  .styled-search-bar {
    margin: 20px 0 0 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .styled-nav-menu {
    display: none !important;
  }

  .styled-button-group {
    display: none !important;
  }

  .burger-container {
    display: flex!important;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 15px;
    right: 20px;
    
  }

  .styled-loan-box {
    width: 360px !important;
  }

  .green-background {
    width: 55%;
    height: 500px;
    top: 0;
    right: 0;
    opacity: 0.3;
  }

  .styled-main-screen {
    flex-direction: column;
  }

  .styled-left-section {
    width: 100% !important;
  }

  .styled-right-section {
    width: 100% !important;
  }

  .styled-pros-section {
    grid-template-columns: 1fr !important;
    grid-gap: 30px;
  }

  .styled-loan-container {
    margin: 30px 0 0 0 !important;
  }

  .custom-styled-label {
    padding: 60px 1px 1px 20px !important;
  }

  .custom-styled-label::before {
    top: 10px !important;
    left: 15px !important;
  }

  .styled-narative {
    width: fit-content !important;
  }

  .dTNfEK {
    margin: 20px 0 0 0 !important;
  }
}
